* {
  padding: 0px;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --font-size-2xs: 11px;
  --font-size-smi: 13px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-white: #fff;
  --color-slateblue: #003fad;
  --color-silver: #c5c5c5;
  --color-black: #000;
  --color-lavender: #e2eaff;
  --color-darkslategray-100: #3b3b3b;
  --color-darkslategray-200: #303030;
  --color-ghostwhite: #f6f7fb;
  --color-gray-100: #898989;
  --color-gray-200: rgba(0, 0, 0, 0.08);
  --color-darkblue: #2a00a4;
  --color-crimson: #df0024;
  --color-mediumslateblue: #2a5ff8;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-45xl: 64px;
  --br-31xl: 50px;
}

.bountii-child {
  top: -252px;
  left: -43px;
  width: 1746.38px;
  height: 990.73px;
}
.bountii-child,
.bountii-inner,
.bountii-item {
  position: absolute;
  object-fit: contain;
}
.bountii-item {
  top: -257px;
  right: -118.39px;
  border-radius: 0 0 0 130px;
  width: 1770.39px;
  height: 1054.76px;
  opacity: 0.3;
  mix-blend-mode: soft-light;
}
.bountii-inner {
  top: 4566px;
  left: calc(50% - 801.96px);
  width: 1602.89px;
  height: 419.39px;
}
.mask-group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 73px;
  object-fit: cover;
}
.home {
  position: absolute;
  top: 26px;
  left: 569px;
  font-weight: 500;
}
.blog,
.browse-coupons,
.categories,
.stores,
.submit-coupon {
  position: absolute;
  top: 26px;
  left: 644px;
  font-weight: 500;
}
.blog,
.categories,
.stores,
.submit-coupon {
  left: 802px;
}
.blog,
.categories,
.submit-coupon {
  left: 881px;
}
.blog,
.submit-coupon {
  left: 993px;
}
.blog {
  left: 1142px;
}
.mask-group-parent {
  position: absolute;
  top: 74px;
  left: 211px;
  width: 1174px;
  height: 73px;
  font-size: var(--font-size-base);
}
.bountii-child1,
.line-div {
  position: absolute;
  top: 58.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1601px;
  height: 1px;
  opacity: 0.5;
}
.bountii-child1 {
  top: 4922.5px;
}
.coupons-offers {
  position: absolute;
  top: 21px;
  left: 248px;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 500;
}
.mask-group-icon1 {
  position: absolute;
  top: 18px;
  left: 215px;
  width: 27px;
  height: 27px;
  object-fit: cover;
}
.facebook-icon,
.instagram-icon,
.twitter-icon {
  width: 8.57px;
  position: relative;
  height: 17.14px;
}
.instagram-icon,
.twitter-icon {
  width: 21.1px;
}
.instagram-icon {
  width: 17.14px;
}
.social-buttons {
  position: absolute;
  top: 14.14px;
  left: calc(50% + 507px);
  height: 25.72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 34.29px;
}
.find-best-deals {
  position: absolute;
  top: 270px;
  left: 215px;
  font-size: 60px;
  text-transform: capitalize;
}
.let-our-experts {
  position: absolute;
  top: 362px;
  left: 215px;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 151px;
  height: 60px;
}
.category {
  position: absolute;
  top: 19px;
  left: 10px;
  font-weight: 500;
}
.group-item {
  position: absolute;
  top: 27px;
  left: 131px;
  width: 10px;
  height: 6px;
}
.rectangle-group,
.rectangle-parent {
  position: absolute;
  top: 430px;
  left: 215px;
  width: 151px;
  height: 60px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.rectangle-group {
  left: 374px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 324px;
  height: 60px;
}
.search-for-stores {
  position: absolute;
  top: 20px;
  left: 17px;
  font-weight: 500;
  opacity: 0.3;
}
.rectangle-container {
  position: absolute;
  top: 430px;
  left: 533px;
  width: 324px;
  height: 60px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-crimson);
  width: 120px;
  height: 60px;
}
.search {
  position: absolute;
  top: 19px;
  left: 33px;
  font-weight: 500;
}
.group-div {
  position: absolute;
  top: 430px;
  left: 865px;
  width: 120px;
  height: 60px;
  font-size: var(--font-size-base);
}
.character-icon {
  position: absolute;
  height: 7.15%;
  width: 22.78%;
  top: 3.69%;
  right: 13.41%;
  bottom: 89.16%;
  left: 67.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.our-latest-shopping,
.todays-top-coupons,
.trending-categories {
  position: absolute;
  font-size: var(--font-size-16xl);
  text-transform: capitalize;
  color: var(--color-mediumslateblue);
}
.todays-top-coupons {
  top: 813px;
  left: calc(50% - 357px);
  text-align: center;
}
.our-latest-shopping,
.trending-categories {
  top: 2298px;
  top: 2298px;
  left: calc(50% - 546px);
}
.our-latest-shopping {
  top: 3654px;
  left: calc(50% - 238px);
  text-align: center;
}
.neque-porro-quisquam,
.neque-porro-quisquam1 {
  position: absolute;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  text-align: center;
}
.neque-porro-quisquam {
  top: 874px;
  left: calc(50% - 280px);
  display: inline-block;
  width: 559px;
}
.neque-porro-quisquam1 {
  top: 3715px;
  left: calc(50% - 385px);
}
.group-child2,
.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: var(--color-darkblue);
  width: 270px;
  height: 157px;
}
.group-child3 {
  top: 344px;
  left: 270px;
  background-color: var(--color-white);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  height: 187px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child4 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 134px;
  height: 36px;
}
.flexcar-coupon {
  position: absolute;
  top: 6px;
  left: calc(50% - 56px);
  font-weight: 500;
}
.rectangle-parent2 {
  position: absolute;
  top: 137px;
  left: 69px;
  width: 132px;
  height: 34px;
}
.free-gift {
  position: absolute;
  top: 183px;
  left: 21px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  color: var(--color-black);
  text-align: left;
  width: 220px;
}
.times {
  color: var(--color-gray-100);
}
.coupon-used-3345-container {
  position: absolute;
  top: 0;
  left: 0;
}
.success-rate-100-container {
  position: absolute;
  top: 23px;
  left: 0;
}
.coupon-used-3345-times-parent {
  position: absolute;
  top: 222px;
  left: 21px;
  width: 171px;
  height: 41px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.image-8-icon {
  position: absolute;
  top: 23px;
  left: 86px;
  border-radius: var(--br-45xl);
  width: 98px;
  height: 98px;
  object-fit: cover;
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-slateblue);
  width: 227px;
  height: 50px;
}
.get-code {
  position: absolute;
  top: 17.1px;
  left: calc(50% - 92.5px);
  text-transform: uppercase;
  font-weight: 500;
}
.image-20-icon {
  position: absolute;
  top: 4px;
  left: 189px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  width: 33px;
  height: 42px;
  object-fit: cover;
}
.group-wrapper,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 227px;
  height: 50px;
}
.group-wrapper {
  top: 276px;
  left: 21px;
}
.rectangle-parent1,
.rectangle-parent4 {
  position: absolute;
  top: 978px;
  left: 215px;
  width: 270px;
  height: 344px;
  text-align: center;
}
.rectangle-parent4 {
  top: 1352px;
  left: 1115px;
}
.group-child10,
.group-child12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: var(--color-black);
  width: 270px;
  height: 157px;
}
.group-child12 {
  top: -1px;
  left: -1px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 162px;
  height: 36px;
}
.six-zero-pickleball {
  position: absolute;
  top: 6px;
  left: calc(50% - 64px);
  font-weight: 500;
}
.rectangle-parent8 {
  position: absolute;
  top: 137px;
  left: 55px;
  width: 160px;
  height: 34px;
}
.rectangle-parent7 {
  position: absolute;
  top: 978px;
  left: 515px;
  width: 270px;
  height: 344px;
  text-align: center;
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 270px;
  height: 157px;
}
.fit-tea-coupon {
  position: absolute;
  top: 6px;
  left: calc(50% - 54px);
  font-weight: 500;
}
.rectangle-parent10 {
  position: absolute;
  top: 978px;
  left: 815px;
  width: 270px;
  height: 344px;
  text-align: center;
}
.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: #222;
  width: 270px;
  height: 157px;
}
.group-child20 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 197px;
  height: 36px;
}
.charles-keith {
  position: absolute;
  top: 6px;
  left: calc(50% - 84.5px);
  font-weight: 500;
}
.rectangle-parent14 {
  position: absolute;
  top: 137px;
  left: 38px;
  width: 195px;
  height: 34px;
}
.rectangle-parent13 {
  position: absolute;
  top: 978px;
  left: 1115px;
  width: 270px;
  height: 344px;
  text-align: center;
}
.image-9-icon {
  position: absolute;
  top: 983px;
  left: 582px;
  width: 126px;
  height: 126px;
  object-fit: cover;
}
.charles-and-keith-1-icon,
.image-10-icon {
  position: absolute;
  top: 992px;
  left: 892px;
  width: 116px;
  height: 116px;
  object-fit: cover;
}
.charles-and-keith-1-icon {
  left: 1196px;
  width: 120px;
  height: 120px;
}
.group-child22,
.group-child23 {
  position: absolute;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  width: 270px;
}
.group-child22 {
  top: 0;
  left: 0;
  background-color: #fcaa5b;
  height: 157px;
}
.group-child23 {
  top: 379px;
  left: 270px;
  background-color: var(--color-white);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  height: 222px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.study-coupon {
  position: absolute;
  top: 6px;
  left: calc(50% - 52px);
  font-weight: 500;
}
.coupon-used-3345-times-parent3 {
  position: absolute;
  top: 254px;
  left: 21px;
  width: 171px;
  height: 41px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.group-wrapper3 {
  position: absolute;
  top: 311px;
  left: 21px;
  width: 227px;
  height: 50px;
}
.rectangle-parent16 {
  position: absolute;
  top: 1352px;
  left: 215px;
  width: 270px;
  height: 379px;
  text-align: center;
}
.group-child26 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: #e19097;
  width: 270px;
  height: 157px;
}
.group-child28 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 234px;
  height: 36px;
}
.kim-chi-chick {
  position: absolute;
  top: 6px;
  left: calc(50% - 106px);
  font-weight: 500;
}
.rectangle-parent20 {
  position: absolute;
  top: 137px;
  left: 19px;
  width: 232px;
  height: 34px;
}
.coupon-used-3345-times-parent4,
.group-wrapper4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 171px;
  height: 41px;
}
.group-wrapper4 {
  top: 255px;
  left: 21px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.rectangle-parent19 {
  position: absolute;
  top: 1352px;
  left: 515px;
  width: 270px;
  height: 379px;
  text-align: center;
}
.group-child30,
.group-child32 {
  position: absolute;
  box-sizing: border-box;
}
.group-child30 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: #050505;
  border: 1px solid var(--color-gray-200);
  width: 270px;
  height: 157px;
}
.group-child32 {
  top: -1px;
  left: -1px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-200);
  border: 2px solid var(--color-white);
  width: 212px;
  height: 36px;
}
.all-elite-wrestling {
  position: absolute;
  top: 6px;
  left: calc(50% - 91px);
  font-weight: 500;
}
.rectangle-parent23 {
  position: absolute;
  top: 137px;
  left: 32px;
  width: 210px;
  height: 34px;
}
.rectangle-parent22 {
  position: absolute;
  top: 1352px;
  left: 815px;
  width: 270px;
  height: 344px;
  text-align: center;
}
.image-11-icon {
  top: 1381px;
  left: 307px;
  border-radius: 90px;
  width: 86px;
  height: 86px;
}
.image-11-icon,
.image-12-icon,
.image-13-icon {
  position: absolute;
  object-fit: cover;
}
.image-12-icon {
  top: 1382px;
  left: 607px;
  border-radius: 60px;
  width: 86px;
  height: 83px;
}
.image-13-icon {
  top: 1394px;
  left: 892px;
  width: 116px;
  height: 64px;
}
.rectangle-icon {
  position: absolute;
  top: 1781px;
  left: calc(50% - 801px);
  width: 1600px;
  height: 457px;
}
.group-child34 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-crimson);
  width: 168px;
  height: 60px;
}
.all-stores {
  position: absolute;
  top: 20px;
  left: 39px;
  font-weight: 500;
}
.rectangle-parent25 {
  position: absolute;
  top: 0;
  left: 1002px;
  width: 168px;
  height: 60px;
}
.trending-stores {
  position: absolute;
  top: 0;
  left: calc(50% - 585px);
  font-size: var(--font-size-16xl);
  text-transform: capitalize;
  color: var(--color-mediumslateblue);
}
.neque-porro-quisquam2 {
  position: absolute;
  top: 61px;
  left: calc(50% - 585px);
  font-size: var(--font-size-lg);
  color: var(--color-black);
  display: inline-block;
  width: 559px;
}
.group-parent {
  position: absolute;
  top: 1842px;
  left: 215px;
  width: 1170px;
  height: 107px;
  font-size: var(--font-size-base);
}
.as-seen-on {
  position: absolute;
  top: 4259px;
  left: calc(50% - 97px);
  font-size: var(--font-size-16xl);
  text-transform: capitalize;
  color: var(--color-mediumslateblue);
  text-align: center;
}
.group-child35,
.group-child36 {
  position: absolute;
  border-radius: var(--br-8xs);
}
.group-child35 {
  top: 158px;
  right: -253px;
  background-color: var(--color-white);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  width: 170px;
  height: 158px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child36 {
  top: 9px;
  right: -74px;
  width: 150px;
  height: 139.41px;
  object-fit: cover;
}
.rectangle-parent26,
.rectangle-parent27,
.rectangle-parent28 {
  position: absolute;
  top: 2025px;
  right: 1215px;
  width: 170px;
  height: 158px;
}
.rectangle-parent27,
.rectangle-parent28 {
  right: 1015px;
}
.rectangle-parent28 {
  right: 815px;
}
.rectangle-parent29,
.rectangle-parent30,
.rectangle-parent31 {
  position: absolute;
  top: 2025px;
  right: 615px;
  width: 170px;
  height: 158px;
}
.rectangle-parent30,
.rectangle-parent31 {
  right: 415px;
}
.rectangle-parent31 {
  right: 215px;
}
.bountii-child2,
.bountii-child3 {
  position: absolute;
  top: 3067px;
  width: 1600px;
  height: 527px;
}
.bountii-child2 {
  left: calc(50% - 800px);
  background: linear-gradient(90deg, #2260f8, #8d53fe);
}
.bountii-child3 {
  right: 0;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.view-more {
  position: absolute;
  top: 20px;
  left: 39px;
  text-transform: uppercase;
}
.rectangle-parent32 {
  position: absolute;
  top: 165px;
  left: 0;
  width: 168px;
  height: 60px;
}
.neque-porro-quisquam3,
.top-coupans {
  position: absolute;
  left: calc(50% - 135px);
}
.top-coupans {
  top: 0;
  font-size: var(--font-size-16xl);
  text-transform: capitalize;
}
.neque-porro-quisquam3 {
  top: 61px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 270px;
}
.group-parent1 {
  position: absolute;
  top: 3218px;
  left: 215px;
  width: 270px;
  height: 225px;
  font-size: var(--font-size-base);
}
.group-child50 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-31xl);
  background-color: var(--color-slateblue);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 134px;
  height: 36px;
}
.group-wrapper7 {
  position: absolute;
  top: 283px;
  left: 21px;
  width: 227px;
  height: 50px;
}
.rectangle-parent33 {
  position: absolute;
  top: 3157px;
  left: 515px;
  width: 270px;
  height: 344px;
  text-align: center;
}
.group-child54 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-31xl);
  background-color: var(--color-slateblue);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 162px;
  height: 36px;
}
.rectangle-parent36,
.rectangle-parent39 {
  position: absolute;
  top: 3157px;
  left: 815px;
  width: 270px;
  height: 344px;
  text-align: center;
}
.rectangle-parent39 {
  left: 1115px;
}
.image-14-icon,
.image-15-icon {
  position: absolute;
  top: 3162px;
  left: 882px;
  width: 126px;
  height: 126px;
  object-fit: cover;
}
.image-15-icon {
  top: 3171px;
  left: 1192px;
  width: 116px;
  height: 116px;
}
.bountii-child4,
.group-icon {
  position: absolute;
  top: 3309px;
  left: 495px;
  width: 41px;
  height: 41px;
}
.bountii-child4 {
  left: 1364px;
  object-fit: contain;
}
.group-child60,
.group-child61 {
  position: absolute;
  left: 0;
  width: 370px;
  height: 206px;
}
.group-child60 {
  top: 0;
  object-fit: cover;
}
.group-child61 {
  top: 206px;
  border-radius: 0 0 var(--br-8xs) var(--br-8xs);
  background-color: var(--color-ghostwhite);
}
.jan-25-2024,
.lorem-ipsum-is {
  position: absolute;
  left: calc(50% - 165px);
}
.lorem-ipsum-is {
  top: 268px;
  display: inline-block;
  width: 330px;
}
.jan-25-2024 {
  top: 364px;
}
.where-does-it {
  position: absolute;
  top: 234px;
  left: 20px;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  width: 330px;
}
.rectangle-parent42,
.rectangle-parent43,
.rectangle-parent44 {
  position: absolute;
  top: 3787px;
  left: 215px;
  width: 370px;
  height: 412px;
  color: var(--color-darkslategray-100);
}
.rectangle-parent43,
.rectangle-parent44 {
  left: 615px;
}
.rectangle-parent44 {
  left: 1015px;
}
.group-child66,
.group-child67 {
  position: absolute;
  border-radius: var(--br-8xs);
}
.group-child66 {
  top: 70px;
  right: -251px;
  background-color: var(--color-white);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  width: 170px;
  height: 70px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child67 {
  top: 7px;
  right: 10px;
  right: -68px;
  height: 56px;
  object-fit: cover;
}
.rectangle-parent45 {
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  height: 70px;
}
.bountii-inner1,
.bountii-inner2,
.bountii-inner3,
.bountii-inner4 {
  position: absolute;
  top: 4346px;
  right: 1215px;
  width: 170px;
  height: 70px;
}
.bountii-inner2,
.bountii-inner3,
.bountii-inner4 {
  top: 4436px;
}
.bountii-inner3,
.bountii-inner4 {
  top: 4346px;
  right: 1015px;
}
.bountii-inner4 {
  top: 4436px;
}
.bountii-inner5,
.bountii-inner6,
.bountii-inner7,
.bountii-inner8 {
  position: absolute;
  top: 4346px;
  right: 815px;
  width: 170px;
  height: 70px;
}
.bountii-inner6,
.bountii-inner7,
.bountii-inner8 {
  top: 4436px;
}
.bountii-inner7,
.bountii-inner8 {
  top: 4346px;
  right: 615px;
}
.bountii-inner8 {
  top: 4436px;
}
.bountii-inner10,
.bountii-inner11,
.bountii-inner12,
.bountii-inner9 {
  position: absolute;
  top: 4346px;
  right: 415px;
  width: 170px;
  height: 70px;
}
.bountii-inner10,
.bountii-inner11,
.bountii-inner12 {
  top: 4436px;
}
.bountii-inner11,
.bountii-inner12 {
  top: 4346px;
  right: 215px;
}
.bountii-inner12 {
  top: 4436px;
}
.mask-group-icon2 {
  position: absolute;
  top: 4609px;
  left: 208px;
  width: 240px;
  height: 73px;
  object-fit: cover;
}
.lorem-ipsum-is3 {
  position: absolute;
  top: 4692px;
  left: calc(50% - 555px);
  line-height: 25px;
  display: inline-block;
  width: 330px;
}
.account {
  margin: 0;
}
.bountiicom-all-right,
.home-submit-coupon-container {
  position: absolute;
  top: 4692px;
  left: calc(50% - 159px);
  line-height: 25px;
}
.bountiicom-all-right {
  top: 4938px;
  left: calc(50% - 115px);
  text-align: center;
}
.read-more {
  position: absolute;
  top: 4818px;
  left: calc(50% - 554px);
}
.about1,
.contact-us {
  position: absolute;
  top: 4633px;
  left: calc(50% - 176px);
  font-size: var(--font-size-xl);
}
.contact-us {
  left: calc(50% + 252px);
}
.phone-icon-1 {
  position: absolute;
  top: 122px;
  left: 2px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.envelope-mail-mobile-ui-messag-icon {
  position: absolute;
  top: 73px;
  left: 2px;
  width: 22px;
  height: 22px;
}
.trainer-avenue-altona {
  position: absolute;
  top: 0;
  left: 38px;
  display: inline-block;
  width: 217px;
}
.bountiigmailcom,
.div {
  position: absolute;
  top: 70px;
  left: 38px;
}
.div {
  top: 121px;
}
.address-location-map-navigatio-icon {
  position: absolute;
  top: 4px;
  left: 0;
  width: 22px;
  height: 22px;
}
.phone-icon-1-parent {
  position: absolute;
  top: 4692px;
  left: 1012px;
  width: 255px;
  height: 144px;
}
.bountii-inner13,
.group-child90 {
  position: absolute;
  width: 370px;
  height: 627px;
}
.group-child90 {
  top: 627px;
  right: -451px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.bountii-inner13 {
  top: 2380px;
  right: 1015px;
}
.bountii-inner14,
.group-child91 {
  position: absolute;
  width: 770px;
  height: 627px;
}
.group-child91 {
  top: 627px;
  right: -848px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.bountii-inner14 {
  top: 2380px;
  right: 215px;
}
.group-child92,
.rectangle-wrapper {
  position: absolute;
  width: 370px;
  height: 91px;
}
.group-child92 {
  top: 91px;
  right: -451px;
  border-radius: var(--br-8xs);
  background-color: var(--color-lavender);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.rectangle-wrapper {
  top: 0;
  right: 0;
}
.electronics,
.group-child93 {
  position: absolute;
  top: 15px;
  left: 89px;
}
.group-child93 {
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.electronics-parent {
  position: absolute;
  top: 18px;
  left: 116px;
  width: 198px;
  height: 56px;
}
.group-parent2 {
  position: absolute;
  top: 2380px;
  right: 1015px;
  width: 370px;
  height: 91px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.financial-wrapper,
.group-parent3 {
  position: absolute;
  top: 15px;
  left: 89px;
  width: 87px;
  height: 26px;
}
.group-parent3 {
  top: 2487px;
  left: 254px;
  width: 176px;
  height: 56px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.group-parent4,
.jewlery-wrapper {
  position: absolute;
  top: 15px;
  left: 89px;
  width: 76px;
  height: 26px;
}
.group-parent4 {
  top: 2573px;
  left: 255px;
  width: 165px;
  height: 56px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.group-parent5,
.sporting-wrapper {
  position: absolute;
  top: 15px;
  left: 89px;
  width: 83px;
  height: 26px;
}
.group-parent5 {
  top: 2659px;
  left: 255px;
  height: 56px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.group-parent6,
.travel-wrapper {
  position: absolute;
  top: 15px;
  left: 89px;
  width: 58px;
  height: 26px;
}
.group-parent6 {
  top: 2745px;
  left: 255px;
  width: 147px;
  height: 56px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.group-parent7,
.technology-wrapper {
  position: absolute;
  top: 15px;
  left: 89px;
  width: 111px;
  height: 26px;
}
.group-parent7 {
  top: 2831px;
  left: 255px;

  width: 200px;
  height: 56px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.group-parent8,
.health-wrapper {
  position: absolute;
  top: 15px;
  left: 89px;
  width: 64px;
  height: 26px;
}
.group-parent8 {
  top: 2917px;
  left: 255px;
  width: 153px;
  height: 56px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.polygon-icon {
  position: absolute;
  top: 2418px;
  left: 583px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.offers,
.show-more,
.store1 {
  position: absolute;
  top: 2407px;
  left: 646px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-black);
}
.show-more,
.store1 {
  top: 2767px;
}
.show-more {
  top: 2407px;
  left: 1271px;
  text-align: right;
}
.group-child100 {
  position: absolute;
  top: 259px;
  right: -298px;
  border-radius: var(--br-8xs);
  background-color: var(--color-lavender);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 220px;
  height: 259px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.image-19-icon {
  position: absolute;
  top: 30px;
  left: 138px;
  width: 74px;
  height: 30px;
  object-fit: cover;
}
.group-child101 {
  position: absolute;
  top: 0;
  left: 70px;
  border-radius: var(--br-8xs);
  background-color: var(--color-slateblue);
  width: 158px;
  height: 50px;
}
.get-code11 {
  position: absolute;
  top: 17.1px;
  left: calc(50% - -5px);
  text-transform: uppercase;
  font-weight: 500;
}
.image-20-icon11 {
  position: absolute;
  top: 4px;
  left: 192px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  width: 33px;
  height: 42px;
  object-fit: cover;
}
.group-wrapper10,
.rectangle-parent58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 158px;
  height: 50px;
}
.group-wrapper10 {
  top: 177px;
  left: 31px;
}
.off-on-electronics {
  position: absolute;
  top: 69px;
  left: 134px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 98px;
}
.rectangle-parent57,
.rectangle-parent59,
.rectangle-parent61 {
  position: absolute;
  top: 2441px;
  right: 734px;
  width: 220px;
  height: 259px;
  text-align: center;
}
.rectangle-parent59,
.rectangle-parent61 {
  right: 489px;
}
.rectangle-parent61 {
  right: 244px;
}
.group-child106,
.image-20-icon14 {
  position: absolute;
  border-radius: var(--br-8xs);
}
.group-child106 {
  top: 124px;
  right: -233px;
  background-color: var(--color-slateblue);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 153px;
  height: 109px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.image-20-icon14 {
  top: 0;
  left: 89px;
  width: 74px;
  height: 30px;
  object-fit: cover;
}
.cd-voucher-reards {
  position: absolute;
  top: 64px;
  left: 92px;
  display: inline-block;
  width: 104px;
}
.offers1 {
  position: absolute;
  top: 43px;
  left: 93px;
  font-size: var(--font-size-2xs);
}
.rectangle-parent63,
.rectangle-parent64,
.rectangle-parent65,
.rectangle-parent66 {
  position: absolute;
  top: 2816px;
  right: 801px;
  width: 153px;
  height: 124px;
  font-size: var(--font-size-smi);
}
.rectangle-parent64,
.rectangle-parent65,
.rectangle-parent66 {
  right: 615px;
}
.rectangle-parent65,
.rectangle-parent66 {
  right: 429px;
}
.rectangle-parent66 {
  right: 243px;
}
.bountii {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 4983px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}

/* media queries */

@media only screen and (max-width: 1508px) {
  .social-buttons {
    left: calc(50% + 509px);
  }
  .mask-group-parent {
    left: 202px;
  }
  .group-child35 {
    top: 158px;
    right: -280px;
  }
  .group-child36 {
    top: 9px;
    right: -100px;
  }
  .group-child91 {
    top: 627px;
    right: -881px;
  }
  .group-child100 {
    position: absolute;
    top: 259px;
    left: 328px;
  }
  .image-19-icon {
    left: 183px;
  }
  .group-child101 {
    left: 110px;
  }
  .image-20-icon11 {
    left: 230px;
  }
  .get-code11 {
    position: absolute;
    top: 9.1px;
    left: 141px;
  }
  .off-on-electronics {
    left: 177px;
  }
  .group-child106 {
    right: -273px;
  }
  .cd-voucher-reards {
    left: 142px;
  }
  .offers1 {
    position: absolute;
    top: 39px;
    left: 142px;
  }
  .image-20-icon14 {
    top: 0;
    left: 152px;
  }
  .group-child90 {
    right: -477px;
  }
  .group-child92 {
    right: -478px;
  }
  .electronics-parent {
    left: 148px;
  }
  .group-child66 {
    right: -281px;
  }
  .group-child67 {
    right: -102px;
  }
}

@media only screen and (max-width: 1402px) {
  .group-child60,
  .group-child61 {
    position: absolute;
    left: -110px;
  }
  .where-does-it {
    left: -96px;
  }
  .jan-25-2024,
  .lorem-ipsum-is {
    position: absolute;
    left: calc(50% - 281px);
  }
  .group-child34 {
    position: absolute;
    top: 0;
    left: -108px;
  }
  .view-more {
    left: -65px;
  }
  .neque-porro-quisquam3,
  .top-coupans {
    left: calc(50% - 241px);
  }
  .group-child2 {
    left: -104px;
  }
  .group-child3 {
    top: 344px;
    left: 164px;
  }
  .group-child10,
  .group-child12 {
    position: absolute;
    top: 0;
    left: -109px;
  }
  .image-8-icon {
    left: -34px;
  }
  .image-14-icon {
    left: 775px;
  }
  .group-child14 {
    left: -106px;
  }
  .image-15-icon {
    top: 3171px;
    left: 1080px;
  }
  .group-icon {
    left: 391px;
  }
  .group-child50 {
    left: -116px;
  }
  .group-child54 {
    left: -104px;
  }
  .flexcar-coupon {
    left: calc(50% - 163px);
  }
  .six-zero-pickleball {
    left: calc(50% - 161px);
  }
  .fit-tea-coupon {
    left: calc(50% - 162px);
  }
  .group-child5 {
    left: -103px;
  }
  .get-code {
    left: calc(50% - 143.5px);
  }
  .image-20-icon {
    left: 85px;
  }
  .coupon-used-3345-times-parent {
    left: -49px;
  }
  .free-gift {
    left: -59px;
  }
  .bountii-child4 {
    left: 1264px;
  }
  .group-parent3 {
    left: 147px;
  }
  .polygon-icon {
    left: 475px;
  }
  .offers {
    left: 539px;
  }
  .show-more {
    left: 1170px;
  }
  .group-parent4 {
    left: 151px;
  }
  .group-parent5 {
    left: 150px;
  }
  .group-parent6 {
    left: 152px;
  }
  .group-parent7 {
    left: 151px;
  }
  .group-parent8 {
    left: 159px;
  }
  .all-stores {
    left: -66px;
  }
  .trending-stores {
    left: calc(50% - 691px);
  }
  .neque-porro-quisquam2 {
    left: calc(50% - 695px);
  }
  .group-child22 {
    left: -106px;
  }
  .image-11-icon {
    top: 1381px;
    left: 194px;
  }
  .group-child4 {
    left: -116px;
  }
  .study-coupon {
    position: absolute;
    top: 6px;
    left: calc(50% - 160px);
  }
  .group-child23 {
    top: 379px;
    left: 163px;
  }
  .group-child26 {
    left: -106px;
  }
  .group-child28 {
    left: -107px;
  }
  .coupon-used-3345-times-parent3 {
    left: -46px;
  }

  .image-12-icon {
    top: 1382px;
    left: 499px;
  }
  .kim-chi-chick {
    position: absolute;
    top: 6px;
    left: calc(50% - 202px);
  }
  .coupon-used-3345-times-parent4 {
    left: -78px;
  }
  .group-child30 {
    left: -107px;
  }
  .image-13-icon {
    left: 778px;
  }
  .all-elite-wrestling {
    position: absolute;
    top: 6px;
    left: calc(50% - 191px);
  }
  .group-child32 {
    left: -101px;
  }
  .image-9-icon {
    left: 471px;
  }
  .image-10-icon {
    left: 788px;
  }
  .group-child18 {
    left: -108px;
  }
  .charles-and-keith-1-icon {
    left: 1077px;
  }
  .group-child20 {
    left: -116px;
  }
  .charles-keith {
    left: calc(50% - 190.5px);
  }
  .group-child {
    left: -95px;
  }
  .category {
    position: absolute;
    top: 19px;
    left: -87px;
  }
  .rectangle-div {
    left: -95px;
  }
  .search-for-stores {
    left: -71px;
  }
  .group-child1 {
    left: -94px;
  }
  .search {
    left: -57px;
  }
  @media only screen and (max-width: 1508px) {
    .social-buttons {
      left: calc(50% + 471px);
    }
  }
  .blog {
    left: 1045px;
  }
  .submit-coupon {
    left: 905px;
  }
  .categories {
    left: 803px;
  }
  .stores {
    left: 716px;
  }
  .browse-coupons {
    left: 564px;
  }
  .home {
    left: 503px;
  }
}
@media only screen and (max-width: 1302px) {
  .phone-icon-1-parent {
    left: 930px;
  }
  .mask-group-icon2 {
    left: 78px;
  }
  @media only screen and (max-width: 1508px) {
    .group-child66 {
      right: -357px;
    }
  }
  @media only screen and (max-width: 1508px) {
    .group-child67 {
      right: -179px;
    }
  }
  .rectangle-parent42 {
    left: 176px;
  }
  .rectangle-parent43 {
    left: 570px;
  }
  .rectangle-parent44 {
    left: 982px;
  }
  .group-parent1 {
    left: 174px;
  }
  .rectangle-parent33 {
    left: 455px;
  }
  @media only screen and (max-width: 1402px) {
    .group-icon {
      left: 330px;
    }
  }
  .rectangle-parent36 {
    left: 758px;
  }
  .rectangle-parent39 {
    left: 1076px;
  }
  @media only screen and (max-width: 1402px) {
    .image-14-icon {
      left: 708px;
    }
  }

  .rectangle-parent36 {
    left: 768px;
  }
  .group-child10 {
    left: -105px;
  }
  .image-15-icon {
    left: 1040px;
  }
  .bountii-child4 {
    left: 1218px;
  }
  @media only screen and (max-width: 1508px) {
    .group-child90 {
      right: -544px;
    }
  }

  @media only screen and (max-width: 1508px) {
    .group-child92 {
      right: -544px;
    }
  }

  @media only screen and (max-width: 1508px) {
    .electronics-parent {
      left: 213px;
    }
  }

  @media only screen and (max-width: 1402px) {
    .group-parent3 {
      left: 99px;
    }
  }
  @media only screen and (max-width: 1402px) {
    .group-parent4 {
      left: 98px;
    }
  }

  @media only screen and (max-width: 1402px) {
    .group-parent6 {
      left: 99px;
    }
  }

  @media only screen and (max-width: 1402px) {
    .group-parent7 {
      left: 96px;
    }
  }
  @media only screen and (max-width: 1402px) {
    .group-parent5 {
      left: 94px;
    }
  }

  @media only screen and (max-width: 1402px) {
    .group-parent8 {
      left: 103px;
    }
  }

  @media only screen and (max-width: 1508px) {
    .group-child91 {
      top: 627px;
      right: -959px;
    }
  }
  .rectangle-parent61 {
    right: 170px;
  }
  .rectangle-parent59 {
    right: 421px;
  }
  .rectangle-parent57 {
    position: absolute;
    top: 2441px;
    right: 665px;
  }
  .rectangle-parent66 {
    right: 188px;
  }
  .rectangle-parent65 {
    right: 364px;
  }
  .rectangle-parent64 {
    right: 540px;
  }
  .rectangle-parent63 {
    position: absolute;
    top: 2816px;
    right: 723px;
  }
  @media only screen and (max-width: 1402px) {
    .polygon-icon {
      left: 427px;
    }
  }
  @media only screen and (max-width: 1402px) {
    .offers {
      left: 496px;
    }
  }
  @media only screen and (max-width: 1402px) {
    .show-more {
      left: 1127px;
    }
  }
  .rectangle-parent31 {
    right: 142px;
  }
  .rectangle-parent30 {
    right: 344px;
  }
  .rectangle-parent29 {
    right: 548px;
  }
  .rectangle-parent28 {
    right: 748px;
  }
  .rectangle-parent27 {
    right: 963px;
  }
  .rectangle-parent26 {
    right: 1155px;
  }
  .rectangle-parent27 {
    right: 952px;
  }
  .trending-categories {
    left: calc(50% - 581px);
  }
  .rectangle-parent25 {
    left: 964px;
  }
  @media only screen and (max-width: 1402px) {
    .trending-stores {
      left: calc(50% - 746px);
    }
  }

  @media only screen and (max-width: 1402px) {
    .neque-porro-quisquam2 {
      left: calc(50% - 741px);
    }
  }
  .rectangle-parent16 {
    left: 171px;
  }
  .rectangle-parent19 {
    left: 477px;
  }
  .rectangle-parent22 {
    left: 783px;
  }
  .rectangle-parent4 {
    left: 1087px;
  }
  .group-parent {
    left: 229px;
  }
  .rectangle-parent1 {
    left: 172px;
  }
  .rectangle-parent13 {
    left: 1084px;
  }
  .rectangle-parent7 {
    left: 476px;
  }
  .rectangle-parent10 {
    left: 777px;
  }

  @media only screen and (max-width: 1402px) {
    .image-10-icon {
      left: 742px;
    }
  }
  .rectangle-group,
  .rectangle-parent {
    left: 165px;
  }
  .rectangle-group {
    left: 324px;
  }
  .rectangle-container {
    left: 483px;
  }
  .group-div {
    left: 815px;
  }
  .find-best-deals {
    left: 64px;
  }
  .let-our-experts {
    left: 69px;
  }
  .character-icon {
    width: 26.78%;
  }
  @media only screen and (max-width: 1508px) {
    .mask-group-parent {
      left: 157px;
    }
  }
  .mask-group-icon {
    left: -88px;
  }
  .mask-group-icon1 {
    left: 75px;
  }
  .coupons-offers {
    left: 110px;
  }
}
@media only screen and (max-width: 1479px) {
  .mask-group-icon2 {
    left: 102px;
  }
  .lorem-ipsum-is3 {
    left: calc(50% - 620px);
  }
  .rectangle-parent45 {
    position: absolute;
    top: 0;
    right: 56px;
  }
  @media only screen and (max-width: 1479px) {
    .mask-group-icon2 {
      left: 129px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .lorem-ipsum-is3 {
      left: calc(50% - 590px);
    }
  }
  .rectangle-parent42 {
    left: 134px;
  }
  .rectangle-parent43 {
    left: 552px;
  }
  .rectangle-parent44 {
    left: 937px;
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent43 {
      left: 569px;
    }
  }
  .group-parent1 {
    left: 138px;
  }
  .rectangle-parent33 {
    left: 431px;
  }
  .group-icon {
    left: 407px;
  }
  .rectangle-parent39 {
    left: 1034px;
  }
  .image-15-icon {
    left: 1103px;
  }
  .rectangle-parent36 {
    left: 734px;
  }
  .image-14-icon {
    left: 799px;
  }
  @media only screen and (max-width: 1479px) {
    @media only screen and (max-width: 1479px) {
      .rectangle-parent43 {
        left: 537px;
      }
    }
  }
  .bountii-child4 {
    left: 1286px;
  }
  @media only screen and (max-width: 1508px) {
    .group-child90 {
      right: -434px;
    }
  }
  @media only screen and (max-width: 1508px) {
    .group-child92 {
      right: -433px;
    }
  }
  .group-child91 {
    right: -828px;
  }
  @media only screen and (max-width: 1508px) {
    .electronics-parent {
      left: 97px;
    }
  }
  .group-parent3 {
    top: 2487px;
    left: 183px;
  }
  .group-parent4 {
    left: 185px;
  }
  .group-parent5 {
    left: 181px;
  }
  .group-parent6 {
    left: 188px;
  }
  .group-parent7 {
    left: 187px;
  }
  .group-parent8 {
    left: 192px;
  }
  .polygon-icon {
    left: 508px;
  }
  .rectangle-parent57 {
    right: 790px;
  }
  .rectangle-parent59 {
    right: 538px;
  }
  .rectangle-parent61 {
    right: 285px;
  }
  .rectangle-parent63 {
    right: 867px;
  }
  .rectangle-parent66 {
    right: 300px;
  }
  .rectangle-parent65 {
    right: 487px;
  }
  .rectangle-parent64 {
    right: 676px;
  }

  .offers {
    left: 561px;
  }
  .store1 {
    left: 567px;
  }
  .show-more {
    left: 1212px;
  }
  .trending-categories {
    left: calc(50% - 595px);
  }
  .rectangle-parent26 {
    position: absolute;
    top: 2025px;
    right: 1264px;
  }
  .rectangle-parent31 {
    right: 271px;
  }
  .rectangle-parent30 {
    right: 469px;
  }
  .rectangle-parent29 {
    right: 664px;
  }
  .rectangle-parent28 {
    right: 860px;
  }
  .rectangle-parent27 {
    right: 1060px;
  }
  .group-parent {
    left: 134px;
  }
  .rectangle-parent16 {
    left: 130px;
  }
  .rectangle-parent4 {
    left: 1032px;
  }

  .rectangle-parent22 {
    left: 727px;
  }
  .image-13-icon {
    left: 799px;
  }
  .rectangle-parent19 {
    left: 429px;
  }
  .image-12-icon {
    left: 510px;
  }
  .image-11-icon {
    left: 221px;
  }
  .rectangle-parent1 {
    left: 130px;
  }
  .rectangle-parent7 {
    left: 428px;
  }
  .image-9-icon {
    left: 502px;
  }
  .rectangle-parent10 {
    left: 729px;
  }
  .image-10-icon {
    left: 801px;
  }
  .rectangle-parent13 {
    left: 1030px;
  }
  .charles-and-keith-1-icon {
    left: 1091px;
  }
  .rectangle-parent {
    left: 136px;
  }
  .rectangle-group {
    left: 295px;
  }
  .rectangle-container {
    left: 455px;
  }
  .group-div {
    left: 790px;
  }
  .character-icon {
    left: 64.81%;
  }
  .let-our-experts {
    left: 138px;
  }
  .find-best-deals {
    left: 133px;
  }
  .mask-group-icon {
    left: -66px;
  }
  @media only screen and (max-width: 1508px) {
    .mask-group-parent {
      left: 115px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .mask-group-icon {
      left: 22px;
    }
  }
  .mask-group-icon1 {
    left: 145px;
  }
  .coupons-offers {
    left: 182px;
  }
  @media only screen and (max-width: 1508px) {
    .social-buttons {
      left: calc(50% + 441px);
    }
  }
}
@media only screen and (max-width: 1229px) {
  @media only screen and (max-width: 1479px) {
    .rectangle-parent45 {
      right: -6px;
    }
  }
}
@media only screen and (max-width: 1479px) {
  @media only screen and (max-width: 1479px) {
    .mask-group-icon2 {
      left: 22px;
    }
  }
}
@media only screen and (max-width: 1479px) {
  @media only screen and (max-width: 1479px) {
    .lorem-ipsum-is3 {
      left: calc(50% - 582px);
    }
  }
}
@media only screen and (max-width: 1479px) {
  .image-14-icon {
    left: 678px;
  }
}
@media only screen and (max-width: 1479px) {
  .image-15-icon {
    left: 999px;
  }
}
@media only screen and (max-width: 1479px) {
  .group-icon {
    left: 311px;
  }
  @media only screen and (max-width: 1479px) {
    .bountii-child4 {
      left: 1172px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .group-child91 {
      right: -974px;
    }
  }
  .rectangle-parent61 {
    right: 139px;
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent59 {
      right: 395px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent57 {
      right: 648px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent66 {
      right: 153px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent65 {
      right: 322px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent64 {
      right: 493px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent63 {
      right: 727px;
    }
  }
  @media only screen and (max-width: 1479px) {
    @media only screen and (max-width: 1479px) {
      .rectangle-parent64 {
        right: 537px;
      }
    }
  }
  @media only screen and (max-width: 1479px) {
    @media only screen and (max-width: 1479px) {
      .rectangle-parent65 {
        right: 345px;
      }
    }
  }
  @media only screen and (max-width: 1479px) {
    @media only screen and (max-width: 1508px) {
      .group-child90 {
        right: -575px;
      }
    }
  }
  @media only screen and (max-width: 1508px) {
    .electronics-parent {
      left: 250px;
    }
  }
  @media only screen and (max-width: 1479px) {
    @media only screen and (max-width: 1508px) {
      .group-child92 {
        right: -575px;
      }
    }
  }
  @media only screen and (max-width: 1479px) {
    .group-parent3 {
      left: 80px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .group-parent4 {
      left: 76px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .group-parent5 {
      left: 82px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .group-parent6 {
      left: 88px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .group-parent7 {
      left: 84px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .group-parent8 {
      left: 94px;
    }
  }

  @media only screen and (max-width: 1479px) {
    .polygon-icon {
      left: 401px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .offers {
      left: 451px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .store1 {
      left: 453px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .trending-categories {
      left: calc(50% - 576px);
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent31 {
      right: 127px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent26 {
      position: absolute;
      top: 2025px;
      right: 1116px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent26 {
      right: 1116px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent30 {
      right: 330px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent29 {
      right: 531px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent28 {
      right: 730px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-parent27 {
      right: 925px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .group-parent {
      left: 198px;
    }
  }
  @media only screen and (max-width: 1302px) {
    .rectangle-parent25 {
      left: 938px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .image-9-icon {
      left: 388px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .image-10-icon {
      left: 694px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .charles-and-keith-1-icon {
      left: 990px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .rectangle-group {
      left: 280px;
    }
  }
  @media only screen and (max-width: 1402px) {
    .rectangle-div {
      left: -114px;
    }
  }
  @media only screen and (max-width: 1402px) {
    .search-for-stores {
      left: -91px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .group-div {
      left: 785px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .character-icon {
      left: 69.81%;
    }
  }
  @media only screen and (max-width: 1479px) {
    @media only screen and (max-width: 1479px) {
      .mask-group-icon {
        left: -75px;
      }
    }
  }
  @media only screen and (max-width: 1479px) {
    .mask-group-icon1 {
      left: 42px;
    }
  }
  @media only screen and (max-width: 1479px) {
    .coupons-offers {
      left: 81px;
    }
  }
  @media only screen and (max-width: 1508px) {
    .social-buttons {
      left: calc(50% + 467px);
    }
  }
}
